{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="E746CD499E854858EB3DAED9391D48A0" />
    <meta name="google-site-verification" content="R0sOjvxn7P34hADoOrc89lP-faPCQ0rJfA0oa_tYd1E" />
    <meta name="description" content="Learn how to log in to your Kaiser Permanente Washington member account at kp.org/wa. Access your health records, schedule appointments, refill prescriptions, and more with our step-by-step guide." />
    <meta name="keywords" content="kp.org/wa login, Kaiser Permanente Washington login, Kaiser login member, kp wa account access, sign in kp.org/wa" />
    <meta name="robots" content="index, follow" />
    <title>Log In to Your Kaiser Permanente Washington Account – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
