{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Learn how to log in to your Kaiser Permanente Washington member account at kp.org/wa. Access your health records, schedule appointments, refill prescriptions, and more with our step-by-step guide." />
    <meta name="keywords" content="kp.org/wa login, Kaiser Permanente Washington login, Kaiser login member, kp wa account access, sign in kp.org/wa" />
    <meta name="robots" content="index, follow" />
    <title>Log In to Your Kaiser Permanente Washington Account – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
